/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    background-color: rgb(255, 248, 229);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.login-img {
    width: 95%;
    height: 40%;
    background-size: cover;
    background-position: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.6); /* Transparent effect */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #333;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 90%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #333;
    color: #333;
    outline: none;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -10px;
    font-size: 12px;
    color: #e6b980;
}

.btn {
    background: #e69831;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    
}

.btn:hover {
    background: #e6b980;
}

.forgot {
    color: #333;
    cursor: pointer;
    margin-top: 10px;
}